name: Email Step Action

on:
  push:
    branches:
      - main
  workflow_dispatch:  # allows manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f2004211@ds.study.iitm.ac.in
        run: echo "Hello, world!"
